CONFIG_MTK_MDP_MTEE_SUPPORT=m
CONFIG_MTK_SCP_AUDIO=m
CONFIG_MTK_MT6382_BDG=m
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
# CONFIG_LTO_NONE is not set
# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y
CONFIG_LOCALVERSION="-Yoshino"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SECURITY_SELINUX_DEVELOP=y
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY=y
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
# CONFIG_ZRAM_DEF_COMP_LZORLE is not set
# CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZRAM_DEF_COMP="zstd"
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
CONFIG_HAVE_KPROBES=y
# CONFIG_KSU_KPROBES is not set
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_KSU_SYSCALL_HOOK=y
CONFIG_KPROBE_EVENTS=y
CONFIG_KSU=y
