CONFIG_MTK_MDP_MTEE_SUPPORT=m
CONFIG_MTK_SCP_AUDIO=m
CONFIG_MTK_MT6382_BDG=m
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
# CONFIG_LTO_NONE is not set
# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y
CONFIG_LOCALVERSION="-IsaacCodesStuff-Yoshino"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE=y
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY=y
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
# CONFIG_ZRAM_DEF_COMP_LZORLE is not set
# CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZRAM_DEF_COMP="zstd"
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
CONFIG_HAVE_KPROBES=y
# CONFIG_KSU_KPROBES is not set
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_KSU_SYSCALL_HOOK=y
CONFIG_KPROBE_EVENTS=y
CONFIG_KSU_KPROBE_HOOKS=y
CONFIG_KSU=y
# CONFIG_INTEGRITY is not set
# CONFIG_INTEGRITY_SIGNATURE is not set
# CONFIG_INTEGRITY_ASYMMETRIC_KEYS is not set
# CONFIG_INTEGRITY_TRUSTED_KEYRING is not set
# CONFIG_INTEGRITY_AUDIT is not set
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_SECURITY_DEFEX_USER is not set
# CONFIG_SECURITY_DEFEX_DTM is not set
CONFIG_DEBUG_INFO=n
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_DEBUG_INFO_BTF_MODULES is not set
